.input {
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  height: auto;
  padding: 7px;
  border: var(--border-thin);
  border-width: 2px;
  border-radius: 10px;

  &:focus {
    outline: 2px solid var(--color-gray-300);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.input:invalid,
.invalid {
  border-color: var(--color-red-400);

  &:focus {
    outline-color: var(--color-red-100);
  }
}
