.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.313rem 0.75rem;
  border: var(--border-thin);
  border-radius: var(--radius-l);
  font-size: 1rem;
  background-color: var(--color-slate-300);
  cursor: pointer;
  transition-property: color, background-color, border-color;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--color-slate-400);
  }

  &:active {
    color: var(--color-white);
    background-color: var(--color-slate-500);
  }

  & svg {
    width: 1rem;
    min-width: 24px;
    height: auto;
  }
}

.outline {
  background-color: transparent;
  &:hover {
    background-color: var(--color-slate-300);
  }
}

.ghost {
  border-width: 0;
  background-color: transparent;
  &:hover {
    background-color: var(--color-gray-200);
  }
}

.success {
  background-color: var(--color-green-100);
  &:hover {
    background-color: var(--color-green-500);
  }
}

.error {
  background-color: var(--color-red-100);
  &:hover {
    background-color: var(--color-red-400);
  }
}

.alert {
  background-color: var(--color-orange-100);
  &:hover {
    background-color: var(--color-orange-500);
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.icon {
  padding: 0.313rem;
}

.l {
  padding: 0.813rem 1.125rem;
}
