.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.link {
  text-decoration: none;
  color: inherit;
}
