@use "@/styles/mixins";

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  gap: 20px;
  width: 100%;
  max-width: 420px;
  padding: 30px 50px;
  border: var(--border-thin);
  border-radius: 50px;
  background-color: var(--color-bg-gray-50);

  @include mixins.media("md") {
    padding: 30px 30px;
  }
}

.loader {
  align-self: center;
}
